@import "./_variables";
@import "./mixins";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.main-content {
  font-family: $primary-font;

  h1 {
    font-family: $header-font;
    font-size: 1.5rem;
    color: $header;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .primary-button {
    @include primary-button;
  }

  // @media (max-width: $breakpoint-laptop) {
  //   max-width: $breakpoint-laptop;
  // }
  // @media (max-width: $breakpoint-tablet) {
  //   max-width: $breakpoint-tablet;
  // }
  // @media (max-width: $breakpoint-mobile) {
  //   max-width: $breakpoint-mobile;
  // }
}
