@import "./_variables";
@import "./mixins";

.step-navigator {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .step {
    display: flex;
    align-items: center;

    .step-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $secondary;
      border: 2px solid $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: bold;
      color: $primary;
      transition: background-color 0.3s ease;

      &.active {
        background-color: $primary;
        color: $secondary;
      }
    }

    .step-line {
      width: 50px;
      height: 2px;
      background-color: $primary;
      margin: 0 0.5rem;
    }
  }
}
